// This is (somehow) a layout which is both full bleed and also adhers to
// the standard Bootstrap grid. It only works for 50/50 layouts where
// one side is full bleed and the other is the Bootstrap grid equivalent.
// Note that this module uses BEM as individual elements within it are
// useless elsewhere.
@include media-breakpoint-up(md) {
  .bleed-grid {
    position: relative;
  }

  .bleed-grid__img {
    bottom: 0;
    position: absolute;
    top: 0;
  }

  .bleed-grid__img-right {
    left: 50%;
    right: 0;
  }

  .bleed-grid__img-left {
    left: 0;
    right: 50%;
  }
}

// Desktop and mobile
.bleed-grid__img img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

// On mobile, any bleed grid images are exactly square
@include media-breakpoint-down(sm) {
  .bleed-grid__img {
    padding-top: 100%;

    // Bit mental, but to account for the padding-top rule above
    img {
      margin: 0 0 -100%;
      transform: translate(0, -100%);
    }
  }
}

@media print {
  .bleed-grid__img {
    display: none;
  }
  
  // If the image is missing, we can assume that the first .col child can be full width.
  .bleed-grid > .container > .row {
    & > [class^="col"], & > [class*=" col"] {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }  
}
