// Generic block scrolling thing

// This sucks the block scroll controls up the same amount as
// their height. Might need some modifying classes to
// control this behaviour.
[data-js="scroll-control"] {
  margin-top: -58px;
}

.block-scroll {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}  

// JavaScript has found the markup, and thinks it's good.
.block-scroll[data-active="true"] {
  overflow: hidden;
  scroll-behavior: smooth;
}  

.block-scroll__child {
  display: flex;
  margin: 0 1em 0 0;
  flex-basis: 370px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
}

// Pushing the footer to the bottom of the box
.block-scroll__footer {
  margin-top: auto;

  & > * { margin-bottom: 0; }
}