// Generic block scrolling thing

// This sucks the block scroll controls up the same amount as
// their height. Might need some modifying classes to
// control this behaviour.
[data-js="scroll-control"] {
  margin-top: -58px;
}

.block-scroll {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  overflow: auto;
  // Required, so we can measure the scroll amount
  position: relative;
}  

// JavaScript has found the markup, and thinks it's good.
.block-scroll[data-active="true"] {
  overflow: hidden;
  scroll-behavior: smooth;
}  

// The (<-) and (->) buttons, which JavaScript shows and hides, as required
.scroll-control {
  position: relative;
  z-index: 1;
}

.block-scroll__child,
.block-scroll__child-wide {
  flex-grow: 0;
  flex-shrink: 0;
  // Gutter between items
  margin: 0 1em 0 0;
}
.block-scroll__child:last-child,
.block-scroll__child-wide:last-child {
  margin: 0;
}

// This is based on the reviews scroller
.block-scroll__child {
  flex-basis: 370px;
  height: auto;
}
@include media-breakpoint-down(sm) {
  .block-scroll__child {
    flex-basis: 80%;
  }
}
// This is as wide as the parent scroller, so only one child
// is seen through the scroll port at any one time.
.block-scroll__child-wide {
  width: 100%;
}

// Fixing the bottom gutter
.block-scroll__footer > * {
  margin-bottom: 0;
}