.faq {

  // Clicky parts
  label {
    cursor: pointer;
  }

  // Expanded panels
  .details {
    display: none;
  }

  input:checked {

    ~ .details {
      display: block;
    }
    ~ label .faq__icon {
      transform: rotate(45deg);
    }
  }
}

.faq__icon {
  display: inline-block;
  // Bigger target, mate.
  padding: 0 .2em;
  transform: rotate(0deg);
  transform-origin: center;
  transition: all .2s;
}