// Circles with icons inside them.
// Background colour is controlled with additional
// classes added to the element for flexibility.
.icon-disk {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: relative;

  // This style might be applied to an anchar tag
  // and we don't need the underline style.
  &:before { border: none; }

  & > * {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.icon-disk-x-large {
  height: 90px;
  width: 90px;

  svg { width: 50px; }
}


// Sizes need to be explicitly set, as these might sit
// inside Media Object and contain vectors.
.icon-disk-medium {
  height: 60px;
  width: 60px;
  
  svg { width: 37px; }
}

.icon-disk-small {
  height: 42px;
  width: 42px;
  
  svg { width: 22px; }
}