///////////////////////
// Main navigation, top
///////////////////////
.logo-nav {
  padding: 12px 0 75px;

  // This only works for one specific SVG, regrettably
  .logo {
    height: 22px;
    margin: 12px 0;
    width: 90px;
  }

  // Still need a "you are here" style
  em {
    font-style: normal;
  }
}

@media print {
  .logo-nav { padding: 0; }

  .logo-nav__nav,
  .logo-nav__toggle {
    display: none;
  }
}

.logo-nav__toggle label {
  cursor: pointer;
  outline: solid .8em transparent;
  // To give the illusion that it joins up with the mobile navigation menu
  padding: 0 0 .8em;
  transition: all .2s;
}

.logo-nav__nav {
  ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  } 
}

// The burger menu is defined in _icons.scss, but it's secondary form is 
// styled here - from ≡ to ×
[id="nav-toggle"]:checked ~ .logo-nav__toggle {

  label {
    background: $colour-light-grey;
    outline-color: $colour-light-grey;
  }

  // I personally think this is a lovely touch and wish I'd thought of it years ago.
  .logo-nav__text::before {
    content: "Close ";
  }

  & .sh-burger {
    border-color: transparent;
  
    // Deploying strike foils
    &::before { transform: rotate( 45deg); }
    &::after  { transform: rotate(-45deg); }
  }
}

@include media-breakpoint-down(sm) {
  // Hoiks the nav off to the left
  .logo-nav__nav {
    background: $colour-light-grey;
    display: block;
    // This will probably be the distance between the burger
    // menu and the bottom of the page, once the language
    // bar has been moved into the navigation bar.
    height: calc(100vh - 2.6em);
    // This should be enough space to clear the burger menu
    margin: 2.6em 0 0;
    padding: $gutter;
    position: absolute;
    right: 100%;
    transition: all .2s;
    width: 100%;
    z-index: 1;
    
    .space-between {
      display: block;
    }
  }

  // Displays the menu
  [id="nav-toggle"]:checked ~ .logo-nav__nav {
    right: 0;
  }

  // For my keyboard navigation siblings
  [id="nav-toggle"]:focus ~ .logo-nav__toggle label {
    border-bottom: dotted .2em $colour-dark-blue;
  }


  .btn-nav {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}