///////////////////////
// Main navigation, top
///////////////////////
.logo-nav {
  margin-bottom: 75px;
  padding-top: 12px;
  transition: all .2s;

  &.sticky {
    background: $colour-off-white;
    box-shadow: 0 .2em .5em 0 rgba(0,0,0,.1);
    left: 0;
    position: fixed;
    right: 0;
    top: -100%;
    z-index: 10; // High z-index warning!
    
    // Not ideal, but I was having an inheritance fight
    // with the background delcaration in the rule
    // above (this class is toggled with JavaScript).
    &.bt-light-grey { background: $colour-light-grey; }
  }

  &.sticky-show {
    top: 0;
  }

  // This only works for one specific SVG, regrettably
  .logo {
    height: 22px;
    margin: 12px 0;
    width: 90px;
  }
  // For the checkout page
  .logo-medium {
    height: 27px;
    margin: 12px 0;
    width: 112px;
  }

  em { font-style: normal; }
}

@media print {
  .logo-nav { padding: 0; }

  .logo-nav__nav,
  .logo-nav__toggle {
    display: none;
  }
}

.logo-nav__toggle label {
  cursor: pointer;
  display: inline-block;
  outline: solid .8em transparent;
  // To give the illusion that it joins up with the mobile navigation menu
  padding: .7em 0 .1em;
  transition: all .2s;
}

.logo-nav__nav {
  ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  } 
}

// The burger menu is defined in _icons.scss, but it's secondary form is 
// styled here - from ≡ to ×
[id="nav-toggle"]:checked ~ .logo-nav__toggle {

  label {
    background: $colour-light-grey;
    outline-color: $colour-light-grey;
  }

  @include media-breakpoint-up(sm) {
    // I personally think this is a lovely touch and wish I'd thought of it years ago.
    .logo-nav__text::before { content: "Close "; }
  }

  & .sh-burger {
    border-color: transparent;
  
    // Deploying strike foils
    &::before { transform: rotate( 45deg); }
    &::after  { transform: rotate(-45deg); }
  }
}

@include media-breakpoint-down(sm) {
  // Hoiks the nav off to the left
  .logo-nav__nav {
    background: $colour-light-grey;
    bottom: 0;
    display: block;
    padding: $gutter;
    position: fixed;
    right: 100%;
    top: 4.2em;
    transition: all .2s;
    width: 100%;
    z-index: 1;
    
    .space-between { flex-direction: column; }

    // These are not used as contextual selectors elsewhere
    .currency-selector,
    .language-selector {
      order: -1;
    }
  }

  // Displays the menu
  [id="nav-toggle"]:checked ~ .logo-nav__nav { right: 0; }

  // For my keyboard navigation siblings
  [id="nav-toggle"]:focus ~ .logo-nav__toggle label {
    border-bottom: dotted .2em $colour-dark-blue;
  }

  .btn-nav.btn-nav {
    border: 0;
    border-radius: 0;
    display: block;
    font-size: $font-size-body;
    padding-left: 0;
    padding-right: 0;
    text-align: left;

    &:hover, &:focus {
      background: $colour-off-white;
      color: $colour-dark-blue;
    }
  }
}

// Just for the iPhone 6 from September 2014, running iOS 11
@media (max-device-width: 375px) {
  .logo-nav__text { display: none; }
}