.tab-set {
    border-bottom: solid 1px $colour-dark-blue;
    font-family: $body-typeface-semibold;
    font-size: 18px;
    margin: 0 0 1em;
    overflow: auto;
    scroll-behavior: smooth;
    text-transform: uppercase;

    &[data-js="active"] {
        overflow: hidden;
    }

    ul, ol, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul, ol {
        // If we're falling back to floating...
        //@include clearfix;
        display: flex;
        justify-content: space-between;
    }
    // If we're falling back to floating...
    //li {
    //    float: left;
    //    margin: 0 35px 0 0;
    //}

    // Default tabs
    a, em {
        border-radius: $radius-medium $radius-medium 0 0;
        display: inline-block;
        font-family: $body-typeface-semibold;
        min-width: 150px;
        padding: .7em;
        text-align: center;
        transition: all .2s;

        &:before {display: none;}
    }
    // You are here
    em, .selected {
        background: $colour-dark-blue;
        color: $colour-offwhite;
    }
    a:hover, a:focus {
        background: $colour-bright-blue;
        color: $colour-offwhite;
    }
}