// These are dark colours, broadly speaking
.bg-bright-blue {
  background: $colour-bright-blue;
  .peekaboo-target::after { color: $colour-bright-blue;}
}
.bg-mid-blue {
  background: $colour-mid-blue;
  .peekaboo-target::after { color: $colour-mid-blue;}
}
.bg-dark-blue {
  background: $colour-dark-blue;
  .peekaboo-target::after { color: $colour-dark-blue;}
}
// Form states
.bg-red {
  background: $colour-red;
  .peekaboo-target::after { color: $colour-red;}
}
.bg-green {
  background: $colour-green;
  .peekaboo-target::after { color: $colour-green;}
}
// Used in various places
.bg-grey {
  background: $colour-grey;
  .peekaboo-target::after { color: $colour-grey;}
}
.bg-dark-grey {
  background: $colour-dark-grey;
  .peekaboo-target::after { color: $colour-dark-grey;}
}
// Gradients
.bg-grad-light-blue  { background: $grad-light-blue; }
.bg-grad-mid-blue    { background: $grad-mid-blue; }
.bg-grad-dark-blue   { background: $grad-dark-blue; }
.bg-grad-dark-blue-v { background: $grad-dark-blue-v; }

// This rule attempts to fix issues with dark text on a dark background, plus issues with
// links. See the colour stress test for regression testing.
// This was the old selector. The generated rule was MASSIVE. Note that no properties other
// than background should be added to light classes.
// .bg-mid-blue, .bg-bright-blue, .bg-dark-blue,
// .bg-grad-mid-blue, .bg-grad-dark-blue,
// .bg-grad-dark-blue-v, .bg-grad-light-blue,
// .bg-red, .bg-green,
// .bg-grey, .bg-dark-grey
[class^="bg-"], [class*=" bg-"] {
  // These are set up so they can be inherited by the kids
  border-color: $colour-off-white;
  color:        $colour-off-white;
  fill:         $colour-off-white;
  stroke:       $colour-off-white;

  a, .btn-arrow,
  a:hover, a:focus,
  .btn:hover, .btn:focus,
  input, select, textarea {
      color: inherit;
  }

  // If this shares the same rule as the above, it breaks in Firefox
  ::-ms-input-placeholder {
    color: inherit;
  }

  input, select, textarea {
    background-color: inherit;
  }

  a:hover::before, a:focus::before {
    border-color: inherit;
  }

  // Yeah, not my proudest moment
  .btn-arrow {
    &::before, &::after {
      border-color: inherit;  
    }

    &:hover, &:focus {
      border-color: inherit;

      &::before, &::after {
        border-color: inherit;  
      }
    }
  }

  .border-thin { border-color: inherit; }

  .quote-banner footer, .form-compact {
    border-color: inherit;
  }
}

// These are light colours, broadly speaking
.bg-white      { background: $colour-white; }
.bg-off-white  { background: $colour-off-white; }
.bg-mint       { background: $colour-mint; }
.bg-lemon      { background: $colour-lemon; }
.bg-light-grey { background: $colour-light-grey; }
.bg-white, .bg-off-white, .bg-mint, .bg-lemon, .bg-light-grey,
.bg-home {
    color: $colour-dark-blue;

    a { color: inherit; }

    [stroke="none"], [fill="#273583"] {
      fill: $colour-dark-blue;
    }

    [fill="none"], [stroke="#273583"] {
      stroke: $colour-dark-blue;
    }

}

////////////////////
// Background images
////////////////////
.bg-home {
  background: $colour-off-white url(/img/bg/bg-home.jpg) 50% 0 no-repeat;
  background-size: 1971px 788px;
  color: $colour-dark-blue;
  // This is to ensure that the following content gets pushed down,
  // if there's not enough content to do the job.
  min-height: 800px;
}

@media print {
  .bg-home, .bg-keto-shake { min-height: 0; }
}

@include media-breakpoint-down(md) {
  .bg-home {
    background-image: url(/img/bg/bg-home-mobile.jpg);
    background-size: initial;
    background-position: 50% -28px;
    min-height: 0;
  }

  // The content needs to push clear of the imagry, in tablet.
  // BEM naming altered to avoid .bg- inheretence matching
  .bghome__header { margin-top: 200px; }
}

@include media-breakpoint-down(sm) {
  .bg-home {
    background-position: 50% 0;
    background-size: 488px 233px;
  }

  .bghome__header { margin-top: 108px; }
}

.bg-keto-shake {
  background: $colour-off-white url(/img/bg/bg-keto-shake.jpg) 50% 0 no-repeat;
  background-size: 1971px 788px;
  color: $colour-dark-blue;
  // This is to ensure that the following content gets pushed down,
  // if there's not enough content to do the job.
  min-height: 800px;
}

@include media-breakpoint-down(md) {
  .bg-keto-shake {
    background-image: url(/img/bg/bg-keto-shake-mobile.jpg);
    background-size: initial;
    background-position: 50% -28px;
    min-height: 0;
  }
}



.bg-phenq-bottle-reflection {
  background: #018DC9 url(/img/bg/bg-phenq-bottle-reflection.jpg) 50% 100% no-repeat;
  background-size: contain;
}

.bg-mealshake {
  background: #C5D6F0 url(/img/bg/bg-mealshake.jpg) 50% 100% no-repeat;
  background-size: contain;
}

// Sort of wallpaper of bottles of PhenQ
.bg-pill-tile {
  background: url(/img/bg/bg-pill-tile.png) 0 0 repeat-y;
}
@include media-breakpoint-down(sm) {
  .bg-pill-tile {
    background: url(/img/bg/bg-pill-tile-mobile.png);
  }
}

// As above, but with the meal shake
.bg-shake-tile {
  background: url(/img/bg/bg-shake-tile.png) 0 0 repeat-y;
}
@include media-breakpoint-down(sm) {
  .bg-shake-tile {
    background: url(/img/bg/bg-shake-tile-mobile.png);
  }
}