@media print {
  $print-space: 1cm;
  $colour-black: #000;
  @page { margin: $print-space; }

  html body {
    background: transparent;
    color: $colour-black;
  }

  //a, blockquote, table, pre, ul, ol, dl  {
    //page-break-before: avoid;
  //}
  // Note that the Bootstrap class .d-print-none will hide stuff in print
  html [class^="bg-"], html [class*=" bg-"] {
    background: transparent !important;
    border-color: $colour-black;
    fill:         $colour-black;
    stroke:       $colour-black;
    color:        $colour-black !important;
  }

  html .gutter-small  { margin-bottom: $print-space !important; }
  html .gutter-medium { margin-bottom: $print-space * 1.5 !important; }
  html .gutter-large  { margin-bottom: $print-space * 2 !important; }

}
