table {
  margin-bottom: 1em;
  width: 100%;
}

tr > :first-child { padding-left:  0; }
tr > :last-child  { padding-right: 0; }

caption { text-align: left; }

th { font-weight: normal; }

// The breath of an ant
th, td {
  border-bottom: solid 1px $colour-light-grey;
  padding: 1em;

  *:last-child { margin-bottom: 0; }
}

.tight {
  th, td { padding: 0; }
}

// This could be achieved with utility classes, but I think it's a pattern
thead th, thead td, .theader {
  font-family: $body-typeface-bold;
  font-size: $font-size-mobile;
  letter-spacing: .08em;
  text-transform: uppercase;
}