// All the font fun is here
body {
  background: $colour-off-white;
  color: $colour-dark-blue;
  font-family: $body-typeface;
  font-size: $font-size-body;
  line-height: 1.4;
}

@include media-breakpoint-down(sm) {
  body {
    font-size: $font-size-mobile;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .8em;
  strong, b, em, i { font-family: $heading-typeface-bold; }
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: $heading-typeface-light;
}
h5, .h5, h6, .h6 {
  font-family: $heading-typeface-medium;
}

.heading-bold {
  font-family: $heading-typeface-bold;
    strong, b, em, i { font-family: $heading-typeface-light; }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

.lead { font-size: $font-size-big; }

@include media-breakpoint-down(sm) {
  h1, .h1 { font-size: $font-size-h3; }
  h2, .h2 { font-size: $font-size-h4; }
  h3, .h3 { font-size: $font-size-h5; }
  //h4, .h4 { font-size: $font-size-h4; }
  //h5, .h5 { font-size: $font-size-h5; }
  //h6, .h6 { font-size: $font-size-h6; }
  .lead { font-size: $font-size-h6; }
}  

// Legal text which appears under call-to-action buttons, for example.
.legal {
  font-family: $body-typeface-regular;
  font-size: $font-size-small;
  letter-spacing: $button-spacing;
  text-transform: uppercase;
}

a {
    color: $colour-dark-blue;
    position: relative;
    text-decoration: none;

    // A fake underline, which comes hoyking out on hover
    &:before {
        bottom: 0;
        border-bottom: solid 1px $colour-dark-blue;
        content: "";
        left: 0;
        position: absolute;
        right: 100%;
        transition: all .2s;
    }
    &:hover, &:focus {
        text-decoration: none;
        
        &:before {right: 0; }
    }
}

em, i {
    font-family: $body-typeface-light-italic;
    font-style: normal;
}
strong, b {
    font-family: $body-typeface-bold;
    font-weight: normal;
}

.small, small {
  font-size: $font-size-small;
  line-height: 1.25;

  // For legibility, I guess
  strong, b {
    font-family: $body-typeface-semibold;
  }
}

p {margin: 0 0 1em; }

code, pre, kbd {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}