// I guess really small modules?

// Using arbitrary typefaces
.type-gotham-light           {font-family: $heading-typeface-light;}
.type-gotham-medium          {font-family: $heading-typeface-medium;}
.type-gotham-bold            {font-family: $heading-typeface-bold;}

.type-source-light           {font-family: $body-typeface;}
.type-source-light-italic    {font-family: $body-typeface-light-italic;}
.type-source-regular         {font-family: $body-typeface-regular;}
.type-source-italic          {font-family: $body-typeface-italic;}
.type-source-semibold        {font-family: $body-typeface-semibold;}
.type-source-semibold-italic {font-family: $body-typeface-semibold-italic;}
.type-source-bold            {font-family: $body-typeface-bold;}
.type-source-bold-italic     {font-family: $body-typeface-bold-italic;}

// This adds borders between bootstrap columns
.border-between {
    & > [class*='col-']:before, & > [class*='col-']:after {
        // The design specifies #979797, but for consistancy...
        background: $colour-grey;
        bottom: 0;
        content: "";
        position: absolute;
        top: 0;
        width: 1px;
    }
    & > [class*='col-']:before {
        left: -1px;
    }
    & > [class*='col-']:after {
        right: 0;
    }
    & > [class*='col-']:first-child:before,
    & > [class*='col-']:last-child:after {
        display: none;
    }
}

// Standard 
.cta-box {
    margin-bottom: $gutter;
    padding: $gutter;
    & > :last-child {margin-bottom: 0;}
}

.radius-big    {border-radius: $radius-big;}
.radius-medium {border-radius: $radius-medium;}
.radius-small  {border-radius: $radius-small;}

// Created in error
//.shadow-light {
//  -webkit-box-shadow: 0 .2em .5em 0 rgba(0,0,0,.1);
//     -moz-box-shadow: 0 .2em .5em 0 rgba(0,0,0,.1);
//          box-shadow: 0 .2em .5em 0 rgba(0,0,0,.1);
//}

.mb-0 {margin-bottom: 0 !important;}

// Adding horizontal gutters between molecules
.gutter-small  {margin-bottom:  50px !important;}
.gutter-medium {margin-bottom: 100px !important;}
.gutter-large  {margin-bottom: 200px !important;}

// Colouring text in arbratory colours
.txt-bright-blue {color: $colour-bright-blue;}
.txt-mid-blue    {color: $colour-mid-blue;}
.txt-dark-blue   {color: $colour-dark-blue;}
.txt-red         {color: $colour-red;}
.txt-green       {color: $colour-green;}
.txt-grey        {color: $colour-grey;}
.txt-dark-grey   {color: $colour-dark-grey;}
.txt-off-white   {color: $colour-off-white;}
.txt-mint        {color: $colour-mint;}
.txt-lemon       {color: $colour-lemon;}
.txt-light-grey  {color: $colour-light-grey;}

// This class allows buttons to be put together closer than they usually would,
// for example in a toolbar.
.toolbar .btn {margin-right: 9px;}

// Gives an image a gradient border and makes it a circle
.img-profile {
  background: $grad-light-blue;
  display: inline-block;
  padding: 1px;

  &, img {
    border-radius: 50%;
  }
}