// Typography
$heading-typeface-stack: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
$heading-typeface-light:  Gotham-Rounded-Light,  $heading-typeface-stack;
$heading-typeface-medium: Gotham-Rounded-Medium, $heading-typeface-stack;
$heading-typeface-bold:   Gotham-Rounded-Bold,   $heading-typeface-stack;

$body-typeface-stack: Futura, 'Trebuchet MS', Arial, sans-serif;
$body-typeface:                 Source-Sans-Light,           $body-typeface-stack;
$body-typeface-light-italic:    Source-Sans-Light-Italic,    $body-typeface-stack;
$body-typeface-regular:         Source-Sans-Regular,         $body-typeface-stack;
$body-typeface-italic:          Source-Sans-Italic,          $body-typeface-stack;
$body-typeface-semibold:        Source-Sans-SemiBold,        $body-typeface-stack;
$body-typeface-semibold-italic: Source-Sans-SemiBold-Italic, $body-typeface-stack;
$body-typeface-bold:            Source-Sans-Bold,            $body-typeface-stack;
$body-typeface-bold-italic:     Source-Sans-Bold-Italic,     $body-typeface-stack;

$font-size-body: 18px;
$font-size-big:  25px;
$font-size-h1:   72px;
$font-size-h2:   50px;
$font-size-h3:   40px;
$font-size-h4:   28px;
$font-size-h5:   25px;
$font-size-h6:   20px;

// Colour palette
$colour-offwhite:    #fafafa;
$colour-mid-blue:    #07b;
$colour-bright-blue: #009fe3;
$colour-dark-blue:   #273583;
$colour-red:         #da3434;
$colour-green:       #2e7b06;
$colour-mint:        #d7f4c8;
$colour-lemon:       #ffeea0;
$colour-light-grey:  #ececec;
$colour-grey:        #7c7c7c;

$grad-mid-blue:  linear-gradient(90deg, $colour-dark-blue 0%, $colour-mid-blue 100%);
$grad-dark-blue: linear-gradient(90deg, #0d1649 0%, $colour-dark-blue 100%);

// Call-to-action padding
$gutter: 32px;

// Border-radius for call-to-action buttons
$radius-big:    20px;
$radius-medium: 10px;
$radius-small:   5px;
$border-default: 2px;